option_settings:
  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: 1
  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: 1
  - namespace: aws:autoscaling:asg
    option_name: Custom Availability Zones
    value: eu-central-1a
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: ChrisBingham-AppPrescribed
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: AppPrescribedDefault
  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: /pilot
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 0.10.26
