files:
  "/etc/nginx/conf.d/pilot.appprescribed.com.conf":
    mode: "000755"
    owner: root
    group: root
    source: https://raw.githubusercontent.com/binghamchris/App-Prescribed/master/config/pilot.appprescribed.com.conf
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_app_setup.sh":
    mode: "000755"
    owner: root
    group: root
    source: https://raw.githubusercontent.com/binghamchris/App-Prescribed/master/scripts/99_app_setup.sh