files:
  "/etc/nginx/conf.d/pilot.appprescribed.com.conf":
    mode: "000644"
    owner: root
    group: root
    source: https://raw.githubusercontent.com/binghamchris/App-Prescribed/master/config/pilot.appprescribed.com.conf
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_app_setup.sh":
    mode: "000755"
    owner: root
    group: users
    source: https://raw.githubusercontent.com/binghamchris/App-Prescribed/master/scripts/99_app_setup.sh
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/15_umount_attachments.sh":
    mode: "000755"
    owner: root
    group: users
    source: https://raw.githubusercontent.com/binghamchris/App-Prescribed/master/scripts/15_umount_attachments.sh
  "/home/ec2_user/.ssh/authorized_keys":
    mode: "000600"
    owner: ec2-user
    group: ec2-user
    source: https://raw.githubusercontent.com/binghamchris/App-Prescribed/master/config/authorized_keys