commands:
  01-mount-mongodb-ebs:
    test:  /bin/df | /bin/awk '/xvdf/{exit 1}'
    command: echo "Mounting MongoDB EBS volume"; mount /dev/xvdf /var/lib/mongodb
  02-mongodb-ownership:
    command: chown mongodb /var/lib/mongodb
  03-add-mongodb-fstab:
    test: /bin/awk '/xvdf/{exit 1}' /etc/fstab
    command: echo "Adding MongoDB EBS volume to fstab"; echo "/dev/xvdf /var/lib/mongodb ext4 defaults 0 0" >> /etc/fstab
  04-add-attachments-fstab:
    test: /bin/awk '/xvdg/{exit 1}' /etc/fstab
    command: echo "Adding attachments EBS volume to fstab"; echo "/dev/xvdg /var/app/current/attachments ext4 defaults 0 0" >> /etc/fstab
option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/xvdf=snap-f6a3e1ff, /dev/xvdg=snap-39e0db30