commands:
  01-mount-ebs:
    command: mount /dev/xvdf1 /var/lib/mongodb
  02-mount-ebs:
    command: mount /dev/xvdg1 /tmp/deployment/application/attachments
  03-mongodb-ownership
    command chown mongodb /var/lib/mongodb

option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/xvdf1=vol-???
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/xvdg1=vol-??? 