services: 
  sysvinit:
    mongod:
      enabled: true
      ensureRunning: true
      packages:
        yum:
          mongodb: []
          mongodb-server: []
      files: /etc/mongodb.conf
    nginx:
      enabled: true
      ensureRunning: true
      packages:
        yum:
          nginx: []
      files: /etc/nginx/conf.d/pilot.appprescribed.com.conf