services: 
  sysvinit:
    mongod:
      enabled: true
      ensureRunning: true
      packages:
        yum:
          mongodb: []
          mongodb-server: []
      files: /etc/mongodb.conf
    nginx:
      enabled: true
      ensureRunning: true
      packages:
        yum:
          nginx: []
      files: /etc/nginx/conf.d/pilot.appprescribed.com.conf
commands:
  01-iptables-add-port80:
    test: /sbin/iptables -t filter -L |  /bin/awk '/http/{exit 1}'
    command: echo "Adding port 80"; /sbin/iptables -A INPUT -p tcp --dport 80 -j ACCEPT
  02-iptables-del-nat1:
    test: /sbin/iptables -t nat -L OUTPUT | grep REDIRECT
    command: echo "Deleting output redirect"; /sbin/iptables -t nat -D OUTPUT 1
  03-iptables-del-nat2:
    test: /sbin/iptables -t nat -L PREROUTING | grep REDIRECT
    command: echo "Deleting prerouting redirect"; /sbin/iptables -t nat -D PREROUTING 1
  04-iptables-persist:
    command: /sbin/iptables-save > /etc/sysconfig/iptables